# folders
.github
.venv
*.egg-info
# files
runserver
.gitignore
*.env
**/__pycache__
**/*.pyc
*.code-workspace
*.sqlite3
*.log
setup-server
example-settings.py

# The following are needed by setuptools_scm and should not be ignored
# .git
# LICENSE
# README.rst
